@import "tailwindcss";

@theme {
  --font-futura: Furura, sans-serif;
  --font-meie-script: Meie Script, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Radio Button Styles */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="radio"]:checked {
  background-color: #000000;
  border-color: #000000;
}

